$main-text: #2f2f2f;
$numbers-grey: #d9d9d9;
$list-grey: #979691;
$yellow: #f8b337;
$border-yellow: #f1a317;
$tooltip-light-yellow: #fff1d8;
$light-background-yellow: #fff9ed;

$yellow-gradient: linear-gradient(122deg, #ed8139, #f6c55a);
$to-right-gradient: linear-gradient(to right, #ed8139, #f6c55a);
$light-gradient: linear-gradient(to top, #fff5eb, #ffffff);
$btn-gradient: linear-gradient(to right, #ed8139, #f6c55a);

$primary-font: "aktiv-grotesk";
$secondary-font: "effra";
